<p><%= link_to "Back", products_path %></p>

<section class="product">
  <%= image_tag @product.featured_image if @product.featured_image.attached? %>
  
  <section class="product-info">
    <% cache @product do %>
      
      <h1><%= @product.name %></h1>
      <h2><strong>Price:</strong> $<%= number_to_currency(@product.price, unit: "") %></h2>
      <h2>description:</h2>
      <%= @product.description %>
    <% end %>

    <%= render "inventory", product: @product %>

    <% if authenticated? %>
      <%= link_to "Edit", edit_product_path(@product) %>
      <%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    <% end %>

    <%= form_with url: cart_items_path, method: :post do |f| %>
      <%= hidden_field_tag :product_id, @product.id %>
      <%= number_field_tag :quantity, 1, min: 1 %>
      <%= submit_tag "Add to Cart" %>
    <% end %>
  </section>
</section>